@import '../../styles/base/variables';

.error-msg {
  padding: 1rem;
  background-color: $white;
  border-radius: 0.4rem;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.error-msg p:first-of-type {
  margin-bottom: 1.5rem;
}