// COLORS
$white: #fff;
$gray: #485363;
$lightgray: #b8c0cb;
$primary: #003278;
$secondary: #49c2ff;
$tertiary: #c50052;
$text-default: #00122c;

// TYPOGRAPHY
$font-family-display: Merriweather, Georgia, 'Times New Roman', Times, serif;
$font-family-main: Muli, Arial, Helvetica, sans-serif;